* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4a1d8d;
  grid-area: header;
  margin: 1px;
  height: 130px;
  padding: 8px;
}

.navegador ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navegador li {
  display: inline-block;
}

.navegador a {
  color: black;
}

.cuerpoindex {
  background: black;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas: " header header " "section div" "footer footer ";
}

h1 {
  color: white;
  padding: 15px;
  font-size: 50px;
}

.video-youtube {
  border-width: 15px;
  border-color: goldenrod;
  border-style: double;
  grid-area: auto;
}

.item1 {
  margin: 15px;
  width: 430px;
  height: 850px;
  text-align: center;
  color: #4a1d8d;
  font-size: xx-large;
  padding: auto;
}

footer {
  background-color: rgb(209, 203, 203);
  grid-area: footer;
}

.seccionindex {
  display: flex;
  flex-direction: row;
  grid-area: auto;
}

.principio {
  margin: auto;
  width: 550px;
  height: 750px;
  border: 4px solid goldenrod;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5px;
  color: beige;
  margin: 2px;
}

.principio:hover .borde-redondiado {
  width: 300px;
  margin: 50px;
  position: relative;
  top: 1;
  left: 1;
  outline: 2px solid rgb(37, 37, 43);
}

.redes {
  font-size: small;
}

@media screen and (max-width: 680px) {
  .cuerpoindex {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "header header " "nav nav" "section section" "div div" "footer footer";
  }
  .navegador ul {
    display: flex;
    justify-content: space-between;
  }
}
.encabezadofaq {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 130px;
}

.cuerponosotros {
  background-color: black;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas: "header header" "section div" "footer footer";
}

.detallenosotros {
  color: rgb(196, 46, 46);
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navnosotros ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navnosotros li {
  display: inline-block;
}

.navnosotros a {
  color: black;
}

.fotonosotros:hover {
  height: 40rem;
  width: 55rem;
  transform: rotateZ("angle");
}

@media screen and (max-width: 680px) {
  .cuerponosotros {
    font-size: small;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .navnosotros ul {
    display: flex;
    justify-content: space-between;
  }
}
.listaitem {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #6d32a8;
  padding: 25px;
}

.cuerposervicio {
  background-color: #1d8d84;
  background-image: linear-gradient(to left, #15544f, #0b5751, #17ada1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 800px auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas: " header header header" "section section div" "footer footer footer";
}

.encabezadoservicio {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 130px;
}

.biblioteca {
  height: 440px;
  width: 480px;
  padding: 12px;
}

.navservicio ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navservicio li {
  display: inline-block;
}

.navservicio a {
  color: black;
}

.parrafoservicio {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 25px;
  align-items: normal;
}

.carousel-item {
  padding: 110px;
}

@media screen and (max-width: 680px) {
  .cuerposervicio {
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .navservicio ul {
    display: flex;
    justify-content: space-between;
  }
}
.encabezadofaq {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 8.125rem;
}

.cuerpofaq {
  background-color: #000000;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas: " header header " "section div" "footer footer ";
}

.detallefaq {
  color: rgb(240, 153, 81);
  margin: 25px;
  padding: 15px;
  font-size: xx-large;
}

.navfaq ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navfaq li {
  display: inline-block;
}

.navfaq a {
  color: black;
}

.magopensante:hover {
  transform: translate(50px, 50px);
  transition: 3s;
}

@media screen and (max-width: 680px) {
  .cuerpofaq {
    font-size: small;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  .navfaq ul {
    display: flex;
    justify-content: space-between;
  }
}
.cuerpocontacto {
  background-color: gray;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas: "header header header" "div section section" "footer footer footer";
}

.encabezadocontacto {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 130px;
}

.footer {
  grid-area: footer;
}

.navcontacto ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navcontacto li {
  display: inline-block;
}

.navcontacto a {
  color: black;
}

.fotocontacto {
  height: 700px;
  padding: 30px;
  grid-area: div;
}

.formulariocontacto {
  height: auto;
  padding: 10px;
  margin: 14px;
}

.mapacontacto {
  width: 530px;
  padding: 30px;
}

.enviar:hover {
  background: #2035d6;
}

.limpiar:hover {
  background: #eb1c3b;
}

@media screen and (max-width: 680px) {
  .cuerpocontacto {
    font-size: small;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-areas: "header" "div" "section" "footer";
  }
  .navcontacto ul {
    display: flex;
    justify-content: space-between;
  }
}
.hechopor {
  color: black;
  font-size: 20px;
  grid-area: footer;
}

/*# sourceMappingURL=style.css.map */
