.cuerpocontacto {
  background-color: $addit-color;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "fotocontacto formulariocontacto mapacontacto"
    "footer footer footer";
}

.encabezadocontacto {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 8.125rem;
}
.footer {
  grid-area: footer;
}

.navcontacto ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.navcontacto li {
  display: inline-block;
}
.navcontacto a {
  color: black;
}
.fotocontacto {
  height: 700px;
  padding: 30px;
}
.formulariocontacto {
  height: auto;
  padding: 10px;
  margin: 14px;
}
.mapacontacto {
  width: 530px;
  padding: 30px;
  grid-area: mapacontacto;
}
.enviar:hover {
  background: #2035d6;
}
.limpiar:hover {
  background: #eb1c3b;
}
@media screen and (max-width: 680px) {
  .cuerpocontacto {
    font-size: small;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "fotocontacto"
      "formulariocontacto"
      "mapacontacto"
      "footer";
  }
  .navcontacto ul {
    display: flex;
    justify-content: space-between;
  }
}
