* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4a1d8d;
  margin: 1px;
  height: 8.125rem;
  grid-area: header;
}

.navegador ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.navegador li {
  display: inline-block;
}
.navegador a {
  color: black;
}
.cuerpoindex {
  background: black;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  min-height: 100vh;
  grid-template-areas:
    " header header header "
    "section div div"
    "footer footer footer ";
}

h1 {
  color: white;
  padding: 15px;
  font-size: 50px;
}

.video-youtube {
  border-width: 15px;
  border-color: goldenrod;
  border-style: double;
}

.item1 {
  margin: 15px;
  width: 430px;
  height: 850px;
  text-align: center;
  color: #4a1d8d;
  font-size: xx-large;
  padding: auto;
}
footer {
  background-color: rgb(209, 203, 203);
  grid-area: footer;
}
.seccionindex {
  display: flex;
  flex-direction: row;
  grid-area: section;
}

.principio {
  margin: auto;
  width: 550px;
  height: 750px;
  border: 4px solid goldenrod;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5px;
  color: beige;
  margin: 2px;
}
.principio:hover .borde-redondiado {
  width: 300px;
  margin: 50px;
  position: relative;
  top: 1;
  left: 1;
  outline: 2px solid rgb(37, 37, 43);
}
.redes {
  font-size: small;
}
@media screen and (max-width: 680px) {
  .cuerpoindex {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section"
      "item1"
      "youtube"
      "footer";
  }
  .navegador ul {
    display: flex;
    justify-content: space-between;
  }
}
