.encabezadofaq {
  background-color: #4a1d8d;
  grid-area: header;
  width: auto;
  height: 50px;
}

.navnosotros ul {
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.navnosotros li {
  display: inline-block;
}
.navnosotros a {
  color: black;
}
